.formbody {
    max-width: var(--card-max-w);
    margin: 0 auto;
}

.descriptionInput {
    padding: 10px;
}

.formDetails {
    max-width: var(--card-max-w);
    margin: 0 auto 20px auto;
    padding: 10px;
    background: var(--card-background);
    border-radius: var(--rad-m);
}

.questionInput {
    margin: 0 0 4px 0;
}

.optionInput {
    font-size: var(--s);
    margin: 6px 0;
}

.optionbutton {
    font-size: var(--s);
    background: var(--blue-800-40);
    color: var(--blue-800);
    padding: 6px 10px 10px 10px;
    margin: 10px 10px 10px 0;
}

.addbutton {
    position: relative;
}

.addbutton svg {
    margin: 0 0 -1px 0;
}

.deleteSvg {
    height: 26px;
    width: 26px;
    margin: -10px -4px 0 20px;
}

.deleteSvg,
.crossSvg {
    cursor: pointer;
}

.addIcon {
    height: 20px;
    width: 20px;
    margin: 0 0 -4px -4px;
    fill: var(--blue-800);
}

.flex {
    margin: 10px 0;
    width: 100%;
    display: flex;
}

.optionContainer {
    padding: 10px 0;
    height: 0;
    width: 0;
    overflow: hidden;
    opacity: 0;
    z-index: 8;
    position: absolute;
    left: 0;
    border-radius: var(--rad-s);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
}

.top {
    bottom: 100%;
}

.bottom {
    top: 100%;
}

.choices {
    text-align: center;
    display: block;
    color: var(--text-color);
    padding: 10px;
    border-radius: var(--rad-s);
    transition: color .2s, background-color .2s;
}

.choices:hover {
    color: var(--blue-800);
    background: var(--blue-800-40);
}

.choices svg {
    height: 20px;
    width: 20px;
    margin: 0 4px -4px 0;
}

.addbutton:hover .optionContainer,
.addbutton:focus .optionContainer {
    height: fit-content;
    width: 100%;
    opacity: 1;
}

@media (min-width: 1001px) {
    .formDetails {
        margin: 0 0 20px 20px;
    }
}