.formBody,
.formDetails {
    max-width: var(--card-max-w);
    margin: 0 auto;
}

.formBody {
    margin: 0 auto 40px auto;
}

.formDetails {
    padding: 0 20px 20px 20px;
}

.title {
    font-size: var(--l);
}

.description {
    color: var(--text-color-faint);
}

.profilePhoto {
    display: inline-block;
    margin: -1px 4px 0 2px;
}

.buttonFlex {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.buttonFlex button {
    display: block;
    margin: 0;
    width: 100%;
    font-size: var(--s);
    background: var(--blue-800-40);
    color: var(--blue-800);
}

.userDetails {
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    padding: 10px;
    text-align: center;
    backdrop-filter: blur(10px);
    font-size: var(--s);
    color: var(--text-color);
    z-index: 4;
}

.qrIcon,
.shareIcon {
    font-size: var(--l);
    margin: 0 0 -6px 10px;
    cursor: pointer;
    color: var(--blue-800);
}

@media (min-width: 1001px) {
    .mainBody {
        display: flex;
    }

    .detailsWrap {
        flex: 0 0 30%;
        position: sticky;
        top: 70px;
        height: calc(100vh - 100px);
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .formBody {
        flex: 0 0 70%;
        margin: 0 auto 40px auto;
    }
}