.formBody,
.formDetails {
    max-width: var(--card-max-w);
    margin: 0 auto;
}

.formDetails {
    padding: 0 20px 20px 20px;
}

@media (min-width: 801px) {
    .mainBody {
        display: flex;
    }

    .detailsWrap {
        flex: 0 0 30%;
        position: sticky;
        top: 70px;
        height: calc(100vh - 100px);
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .formBody {
        flex: 0 0 70%;
        margin: 0 auto;
    }
}