@import '../../assets/styles/variables.module.css';

.formbody {
    max-width: var(--card-max-w);
    margin: 0 auto;
}

.card {
    padding: 20px;
    margin: 20px auto;
    background-color: var(--card-background);
    border-radius: var(--rad-m);
}