/*

.mainBody: wraps all the content of profile
.userInfo: wraps the information of user (name, email)
.sideInfo: the 2nd component in mainBody
.listWrapper: component inside the sideInfo that wraps a text div and a listContainer
.listContainer: wraps the actual list of cards

*/

.listTitle {
    margin: 0 0 10px 10px;
    display: inline-block;
}

.listWrapper {
    position: relative;
}

.createButton {
    position: absolute;
    color: var(--blue-800);
    cursor: pointer;
    background: var(--blue-800-40);
    font-size: var(--s);
    padding: 4px 10px;
    border-radius: var(--rad-s);
    right: 0;
    margin: 0 14px 4px 10px;
}

.createButton svg {
    margin: 0 2px -2px 0;
}

.openForm,
.deleteSvg {
    height: 24px;
    width: 24px;
    margin: 10px 0 0 0;
    cursor: pointer;
}

.openForm {
    float: left;
    fill: var(--blue-800);
}

.deleteSvg {
    float: right;
}

.userInfo {
    margin: 0 0 40px 0;
    word-wrap: break-word;
}

.userName {
    font-size: var(--l);
}

.email {
    color: var(--text-color-faint);
}

.settingsButton {
    font-size: var(--s);
    margin: 10px 0 0 0;
    color: var(--blue-800);
    background: var(--blue-800-40);
    cursor: pointer;
}

.settingsButton svg {
    fill: var(--blue-800);
    margin: 0 0 -2px 0;
}

.title,
.description {
    display: -webkit-box;
    line-clamp: 1;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.description {
    font-size: var(--s);
    color: var(--text-color-faint);
}

.listContainer {
    display: flex;
    gap: 20px;
    padding: 10px;
}

.card {
    min-width: 200px;
    margin: 0;
}

@media (max-width: 600px) {
    .userInfo {
        display: flex;
        gap: 20px;
        justify-content: center;
    }

    .listWrapper {
        margin: 0 auto 20px auto;
    }

    .listContainer {
        flex: 1;
        flex-direction: column;
        overflow-y: scroll;
        max-height: 50vh;
    }
}

@media (min-width: 601px) and (max-width: 1000px) {
    .userInfo {
        display: flex;
        justify-content: center;
        gap: 20px;
    }

    .mainBody {
        display: flex;
        flex-direction: column;
        height: calc(100vh - 100px);
    }

    .sideInfo {
        flex: 1;
        min-height: 0;
        display: flex;
        width: calc(100vw - 20px);
    }

    .listWrapper {
        flex: 1;
        display: flex;
        flex-direction: column;
    }

    .listContainer {
        flex: 1;
        flex-direction: column;
        overflow-y: scroll;
    }
}

@media (min-width: 1001px) {
    .mainBody {
        display: flex;
    }

    .profilePhoto {
        margin: 0 0 20px 0;
    }

    .userInfo {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .sideInfo {
        flex: 2;
        display: flex;
    }

    .listWrapper {
        flex: 1;
        display: flex;
        margin: 0;
        flex-direction: column;
        height: calc(100vh - 100px);
    }

    .listContainer {
        flex: 1;
        min-height: 0;
        display: flex;
        flex-direction: column;
        overflow-y: scroll;
    }

    .settingsButton {
        margin: 10px;
    }
}