.container {
    max-width: var(--card-max-w);
}

.container svg {
    font-size: 16px;
    margin: 0 6px -2px 0;
}

.warningText {
    text-align: center;
    font-size: var(--s);
}

.warningText svg {
    margin: 0 0 -3px 0;
}

.container button,
.inputHolder {
    font-size: var(--s);
    display: block;
    width: calc(100% - 40px);
    text-align: left;
}

.inputHolder {
    margin: 10px;
    padding: 10px;
    color: var(--text-color);
}

.inputHolder form {
    display: inline;
}

.inputHolder input {
    width: calc(100% - 40px);
    font-size: var(--s);
    padding: 4px;
    margin: -4px;
}

.infoText {
    text-align: center;
    color: var(--text-color-faint);
    margin: 10px 0 -10px 0;
}

.backSvg {
    float: right;
    cursor: pointer;
}

.deleteButton {
    color: var(--red-800);
}

.deleteButton:hover {
    background: var(--red-800-40);
}