.errorContainer {
    margin: 10px auto;
    padding: 20px;
    font-size: var(--s);
    color: var(--red-800);
    max-width: var(--card-max-w);
    background: linear-gradient(90deg, var(--red-800-40), transparent);
    border-left: 4px solid var(--red-800);
    border-radius: var(--rad-s);
}

.errorSvg {
    margin: 0 8px -10px 0;
    stroke: var(--red-800);
    width: 30px;
    height: 30px;
    fill: none;
    stroke-width: 1.5;
    stroke-linecap: round;
    stroke-linejoin: round;
}