.loginButton {
    display: block;
    width: 100%;
    margin: 4px auto;
    background: var(--blue-800-40);
    color: var(--blue-800);
    border-radius: var(--rad-s);
    font-size: var(--s);
}

.error {
    color: var(--red-800);
}

.otpButton {
    background: var(--blue-800-40);
    color: var(--blue-800);
    font-size: var(--s);
    margin: 4px 0;
}

.otpFlex {
    display: flex;
    flex-direction: row-reverse;
    gap: 8px;
}

.passwordWrap {
    position: relative;
}

.passwordButton {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    font-size: var(--m);
    padding: 10px 8px 6px 8px;
}

.loader {
    margin: -4px 8px -6px 0;
    width: 20px;
    height: 20px;
    border: 3px solid transparent;
    border-top: 3px solid var(--blue-800);
    border-radius: 50%;
    display: inline-block;
    animation: spin 1s linear infinite;
}

.link {
    display: inline-block;
    margin: 0 0 0 10px;
    color: var(--blue-800);
    cursor: pointer;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}