.loginButton {
    display: block;
    width: 100%;
    margin: 4px auto;
    background: var(--blue-800);
    color: var(--white-800);
    border-radius: var(--rad-s);
}

.error {
    color: var(--red-800);
}

.otpButton {
    color: var(--white-800);
    background: var(--blue-800);
    font-size: var(--s);
    margin: 4px 8px 4px 0;
}

.otpFlex {
    display: flex;
}

.orText {
    margin: 10px 0 4px 0;
}

.loader {
    margin: -4px 8px -6px 0;
    width: 20px;
    height: 20px;
    border: 3px solid transparent;
    border-top: 3px solid var(--white-800);
    border-radius: 50%;
    display: inline-block;
    animation: spin 1s linear infinite;
}

.link {
    display: inline-block;
    margin: 0 0 0 10px;
    color: var(--blue-800);
    cursor: pointer;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.authContainer {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
}

.authContainer input {
    margin: 4px auto;
    padding: 10px;
    background: var(--card-background);
    border-radius: var(--rad-s);
}