@import './variables.module.css';
@import url('https://fonts.googleapis.com/css2?family=Grechen+Fuemen&family=Poppins&display=swap');

body {
    margin: 0;
    padding: 30px 10px;
    font-size: var(--m);
    font-family: "Poppins", serif;
    line-height: 1.6;
    color: var(--text-color);
    background-color: var(--background-color);
}

input {
    font-size: var(--m);
    border: none;
    color: var(--text-color-faint);
    background-color: transparent;
}

input:focus {
    border: none;
    outline: none;
}

input:disabled:checked {
    filter: invert(100%) brightness(4);
}

label:has(input:disabled:not(:checked)) {
    color: var(--text-color-faint);
    opacity: 0.5;
}

button {
    margin: 10px;
    padding: 10px;
    font-size: var(--m);
    border: none;
    cursor: pointer;
    color: var(--text-color);
    background: none;
}

button:disabled {
    cursor: not-allowed;
    color: var(--text-color-faint);
    opacity: 0.5;
}

label {
    display: block;
}