:root {
    /* colors */
    --background-color: #F4F4F9;
    --card-background: #e5e5e5;
    --text-color: #222222;
    --text-color-faint: #686868;
    --blue-800: #2554ff;
    --blue-800-40: #2554ff20;
    --red-800: #EF233C;
    --red-800-40: #EF233C20;
    --white-800: #F4F4F9;

    /* font sizes */
    --s: 0.9rem;
    --m: 18px;
    --l: 1.6rem;
    --xl: 2rem;

    /* sizes */
    --card-max-w: 500px;

    /* border radius */
    --rad-s: 4px;
    --rad-m: 8px;
    --rad-l: 16px;

    --transition-property: none;
}

[theme="dark"] {
    --background-color: #090909;
    --card-background: #242424;
    --text-color: #CED4DA;
    --text-color-faint: #a7a7a7;
}